<html>

    <body>
        <h5>Hello
            {% if fname == "Neena" %}
                {{fname}}
            {% else %}
                There
            {% endif %}
        </h5>

        <h6>Your Favourite colors are 
            <ol>
                {% for colour in fav_Color %}
                <li>{{colour}}</li>
                {% endfor %}
            </ol>
            <a href="/about">About site</a>
            <p>note the difference between both About site</p>
            <a href="{{ url_for('aboutPage')}}">About site</a>
        </h6>
        <br/>
        
</html>